NODE_ENV=development
PORT=3000
MONGO_URI=mongodb+srv://rithwikkuchana_db_user:2006@yoyo.rtvpn63.mongodb.net/
JWT_SECRET=yoyo_hotel_booking_JWT_SECRET_KEY
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
